*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-black: #f1f1f1;
  --dark-black: #101010;
  --crimson: #DC143C;
  --gold:#bf9b30;
}

body {
  background-color: var(--dark-black);
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  color: var(--light-black);
  padding: 20 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  h1 {
    text-align: center;
    font-size: 2.3rem;
    margin: 30px 0;
  }

  .input-container {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  #number {
    height: 25px;
    background-color: var(--light-black);
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-weight: bold;
  }

  #output {
    margin: -30px 0;
    min-width: 350px;
    width: fit-content;
    min-height: 80px;
    word-break: break-word;
    padding: 15px;
    border: 3px solid var(--gold);
    background-color: var(--crimson);
    text-align: center;
  }

  #convert-btn {
    background-color: var(--gold);
    cursor: pointer;
    border: 2px;
    padding: 8px;
    font-weight: bold;
  } 